
tarefa01/testes/*.out

tarefa05/testes/*.out

tarefa06/testes/*.out

tarefa07/testes/*.out

tarefa08/testes/*.out

tarefa09/testes/*.out

tarefa10/testes/*.out
tarefa10/__pycache__

tarefa11/testes/*.out
